'.source.ruby':

  'block':
    'prefix': 'bl'
    'body': '{ |${1:value}| ${2}}'
  'Insert do |variable| … end':
    'prefix': 'do'
    'body': 'do${1: |${2:variable}|}\n\t$0\nend'

  'class .. end':
    'prefix': 'cla'
    'body': 'class $1\n\t$0\nend'
  'class .. end2':
    'prefix': 'class'
    'body': 'class $1\n\t$0\nend'

  'module .. end':
    'prefix': 'mod'
    'body': 'module $1\n\t$0\nend'
  'module .. end2':
    'prefix': 'module'
    'body': 'module $1\n\t$0\nend'
    
  'namespace :.. do .. end':
    'prefix': 'nam'
    'body': 'namespace :$1 do\n\t$0\nend'
